.about-me {
  background-color: rgba(27, 27, 27, 255);
  width: 100%;
  height: fit-content;
  display: flex;
  padding: 0px 10%;
  margin-bottom: 30vh;
  margin-top: 30vh;
}
#my-image {
  width: fit-content;
  height: fit-content;
  border-radius: 40px;
  margin-right: 1%;
}
#my-image {
  border-radius: 40px;
  border: 2px solid #da4d1d;
  height: 80%;
  width: fit-content;
  overflow: hidden;
  background-color: #da4d1d;
}
.about-me > div img {
  position: relative;
  left: 0px;
  height: 80vh;
  width: auto;
  border-radius: 40px;
  filter: opacity(1);
  transition: all 0.5s ease;
}

.about-me > div img:hover {
  transform: scale(1.5);
  opacity: 0.3;
}
#right-content {
  width: 70%;
  height: 80vh;
  display: flex;
  background-color: white;
  border-radius: 40px;
  margin-left: 1%;
  padding: 6%;
  overflow: auto;
}
#right-content > #right-elements {
  position: relative;
  margin: auto;
}
#right-elements > h1 {
  font-family: "Dynalight", cursive;
  font-size: 25pt;
  letter-spacing: 2pt;
  color: #da4d1d;
}
#right-elements > p {
  font-size: 14pt;
  font-weight: 200;
  color: black;
}
#btn-cv {
  color: #da4d1d;
  border-color: #da4d1d;
  outline-color: #da4d1d;
  right: 0%;
  width: 150px;
  border-radius: 100vw;
}
#btn-cv:hover {
  background-color: #fa865fc2;
  color: rgba(27, 27, 27, 255);
}
#btn-cv:focus {
  box-shadow: 0 0 0 3px #fa865fc2;
}
