.about_wrapper {
  background-color: #1b1b1b;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 2% 10%;
  margin-bottom: 20vh;
  margin-top: 10vh;
  text-align: center;
  overflow: hidden;
}
.about_title > h1 {
  font-family: "Dynalight", cursive;
  font-size: 35pt;
  letter-spacing: 2pt;
  color: #ff7368;
}
.about_title > h5 {
  font-size: 14pt;
  font-weight: 300;
  color: white;
}
.about_content {
  margin-top: 5%;
  width: fit-content;
  height: fit-content;
  display: flex;
  background-color: #1b1b1b;
  position: relative;
  justify-content: center;
  align-items: center;
}
.my_info {
  height: 100%;
  width: auto;
  display: flex;
  position: relative;
  border-radius: 40px;
  align-items: center;
  justify-content: center;
}
.my_info > h4 {
  position: absolute;
  top: 7%;
  color: #1b1b1b;
}
.my_info:hover .my_image img {
  transform: scale(1.5);
  opacity: 0.2;
}
.personal_list {
  position: absolute;
  color: #1b1b1b;
}
.show_personal {
  position: absolute;
  z-index: 22;
  transition: all 0.5s ease;
  filter: opacity(1);
}
.hide_personal {
  filter: opacity(0);
  transition: all 0.5s ease;
}

.my_image {
  border-radius: 40px;
  height: 100%;
  border: 1px solid #ff7368;
  overflow: hidden;
  background-color: #ff7368;
  background-size: 30%;
}

.my_image > img {
  position: relative;
  height: 70vh;
  width: 100%;
  filter: opacity(1);
  transition: all 0.5s ease;
}

.right_content {
  width: 45%;
  height: 70vh;
  display: flex;
  background-color: #1b1b1b;
  border-radius: 40px;

  padding-left: 2%;
  margin-left: 2%;
  overflow: auto;
  text-align: left;
}
.right_elements {
  margin: auto;
}
.right_elements > p {
  font-size: 14pt;
  font-weight: 200;
  color: white;
}
.btn_cv {
  color: #ff7368;
  border-color: #ff7368;
  outline-color: #ff7368;
  right: 0%;
  width: 150px;
  border-radius: 100vw;
}
.btn_cv:hover {
  background-color: #ff7368;
  color: white;
}
.btn_cv:focus {
  box-shadow: 0 0 0 3px #fa865fc2;
}
.cv_mobile {
  color: #ff7368;
  border-color: #ff7368;
  outline-color: #ff7368;
  right: 0%;
  width: 170px;
  border-radius: 100vw;
  display: none;
}
.cv_mobile:hover {
  background-color: #ff7368;
  color: white;
}
.cv_mobile:focus {
  box-shadow: 0 0 0 3px #fa865fc2;
}
@media (max-width: 1000px) {
  .right_content {
    padding-top: 10px;
    padding-bottom: 10px;
    height: fit-content;
  }
}
@media (max-width: 650px) {
  .my_info {
    display: none;
  }
  .btn_cv {
    display: none;
  }
  .cv_mobile {
    display: block;
  }
  .right_content {
    width: 100%;
  }
  .right_elements {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
