.contact-wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: rgba(27, 27, 27, 255);
}
.contact-wrapper::before {
  width: 100%;
  height: 100vh;
  content: "";
  background: url("../Assets/Images/banner.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Webkit */
  filter: grayscale(1); /* W3C */
}

#contact-icon .col {
  text-align: center;
}
#contact-icon .col > i {
  color: #b68e52;
  font-size: 40px;
}
#contact-icon .col > h5,
h3 {
  color: #b68e52;
  font-weight: 200;
  letter-spacing: 3pt;
}
#inli > h3,
a {
  padding-top: 6%;
}
#contact-container {
  margin: auto;
  background-color: rgba(27, 27, 27, 255);
  text-align: center;
  justify-content: center;
}
#contact-heading > h1 {
  font-family: "Dynalight", cursive;
  font-size: 25pt;
  letter-spacing: 2pt;
  color: #b68e52;
}
#contact-heading > h5 {
  padding-top: 2%;
  font-size: 14pt;
  font-weight: 400;
  color: white;
}
#contact-container1 {
  padding-bottom: 2%;
}
#contact-container2 {
  padding-top: 2%;
}
#adress:focus {
  outline: none;
  box-shadow: none;
}
#adress:active {
  outline: none;
  box-shadow: none;
}
#phone:focus {
  outline: none;
  box-shadow: none;
}
#phone:active {
  outline: none;
  box-shadow: none;
}
#email:focus {
  outline: none;
  box-shadow: none;
}
#email:active {
  outline: none;
  box-shadow: none;
}
#clipboard-container > i {
  color: #b68e52;
  margin: 0%;
}

#clipboard-btn1 {
  display: none;
  padding-left: 2%;
}
#clipboard-btn2 {
  display: none;
  padding-left: 2%;
}
#clipboard-btn3 {
  display: none;
  padding-left: 2%;
}
#inli {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: default;
}
#inli:hover > a {
  display: block;
}
