.contact_wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-bottom: 20vh;
}

.contact_title {
  width: 100%;
  height: fit-content;
  position: relative;
  top: 0px;
  justify-content: center;
  text-align: center;
  padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 6%;
}

.contact_title > h1 {
  font-family: "Dynalight", cursive;
  font-size: 35pt;
  letter-spacing: 2pt;
  color: #ff7368;
}

.contact_title > h5 {
  font-size: 14pt;
  font-weight: 300;
  color: white;
}

.card_container {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
}

.contact_card {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 40px;
  height: 0px;
}

.contact_card .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background: #e07768;
  border-radius: 40px;
}

.contact_card .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.7s;
  color: #fff;
}

.face1 {
  width: 320px;
  height: 200px;
  transition: 0.5s;
  position: relative;
  background: #e07768;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
  border-radius: 40px;
}

.face2 {
  width: 320px;
  height: 200px;
  transition: 0.5s;
  position: relative;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transform: translateY(-100px);
  border-radius: 40px;
}
.face2 a > i {
  color: #ff7368;
  font-size: 30px;
  transition: 1s;
}
face2 > h4,
h5,
h6 {
  color: #ff7368;
  font-weight: 200;
  letter-spacing: 3pt;
}

.mobile_btn {
  display: none;
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  z-index: 99;
  width: 50px;
  height: 20px;
  border-radius: 100vw;
  color: #2b26c3;
  border: 1px solid #2b26c3;
  outline-color: #2b26c3;
}

.mobile_btn > i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.face1_mobile {
  transform: translateY(0px);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.face2_mobile {
  transform: translateY(0px);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

@media (min-width: 650px) {
  .contact_card:hover .face1 {
    transform: translateY(0px);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .contact_card:hover .face2 {
    transform: translateY(0px);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }
}

@media (max-width: 649px) {
  .mobile_btn {
    display: block;
  }
  .mobile_btn:hover {
    color: #2b26c3;
  }
}
@media (max-width: 689px) {
  .contact_wrapper {
    margin-bottom: 80vh;
  }
  .contact_card {
    margin-bottom: 400px;
  }
}
