.header_wrapper {
  width: 100%;
  height: 125vh;
  background-color: #1b1b1b;
  background: url("../Assets/Images/header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  margin-bottom: 20vh;
  overflow: hidden;
}
.header {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  margin: auto;
  text-align: center;
  overflow: hidden;
}
.content > h4 {
  transition: color 1s;
  font-family: "Dynalight", cursive;
  font-size: 20pt;
  letter-spacing: 2pt;
  color: #ff746c;
}
.content h1 {
  transition: color 1s;
  padding-top: 20px;
  font-weight: 300;
  letter-spacing: 8pt;
  color: #5424bc;
}
.square:hover h1 {
  color: white !important;
}
.square:hover h4 {
  color: white !important;
}
.square {
  position: relative;
  margin: 0 10px;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.square span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #5424bc;
  border-radius: 32% 58% 69% 43% / 48% 32% 59% 55%;
  transition: 1s;
  animation: animate 6s linear infinite;
}

.square:hover span:nth-child(1) {
  border: none;
  background: #5424bc;
}

.square span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #5424bc;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  transition: 1s;
  animation: animate 4s linear infinite;
}

.square:hover span:nth-child(2) {
  border: none;
  background: #5424bc;
}

.square span:nth-child(3) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #5424bc;
  border-radius: 31% 45% 74% 35% / 38% 56% 51% 87%;
  transition: 1s;
  animation: animate2 10s linear infinite;
}

.square:hover span:nth-child(3) {
  border: none;
  background: #5424bc;
}

.content {
  position: relative;
  padding: 40px 60px;
  text-align: center;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
