body {
  background-color: black;
  width: 100vw;
  height: 100vh;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
* {
  scrollbar-color: #ffeaa7 #1f2029;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #ffeaa7;
  width: 12px;
}

*::-webkit-scrollbar-thumb {
  background-color: #1f2029;
  border-radius: 20px;
  border-left: 1px solid #ffeaa7;
}
