#notfound-container {
  background-color: #723d46;
  width: 100vw;
  margin: 0px 0px 0px 0px;
  overflow-x: hidden;
}
.images {
  position: fixed !important;
}
#img-container {
  width: 100vw;
  height: 100vh;
  display: flex;
}
#something {
  width: 20%;
  top: 15%;
  left: 28%;
}
#forma1 {
  top: 5%;
  width: 30vw;
  left: -10%;
}
#forma2 {
  width: 25%;
  right: 5%;
  transform: rotate(-45deg);
}
#forma3 {
  width: 30%;
  left: 10%;
  bottom: -20%;
  transform: rotate(-15deg);
}
#forma4 {
  width: 20%;
  right: -4%;
  bottom: -10%;
  transform: rotate(-25deg);
}
#forma5 {
  width: 7vw;
  top: 28%;
  left: 30%;
  animation: float 5s ease-in-out infinite;
}
#lost-container {
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: flex;
}
#lost {
  top: 15% !important;
  width: 80vh;
  height: 80vh;
  right: 20%;
  z-index: 2;
}
#home-btn {
  position: fixed;
  width: 12vw !important;
  height: 7vh !important;
  border-radius: 4vh;
  margin-top: 48vh;
  margin-left: 32vw;
  font-weight: bold;
  font-size: 18px;
}

/*
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: fit-content;
}

.wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.box-1 {
  display: flex;
  justify-content: space-between;
}

.box-2 {
  display: flex;
  justify-content: space-between;
}

.box-1 {
  animation: 30s rowup-1 linear infinite normal;
}

.box-2 {
  animation: 30s rowup-2 linear infinite normal;
}

#cloud {
  width: 30vw;
  margin-left: 35vw;
  margin-right: 36vw;
  animation: float 20s ease-in-out infinite;
}
.clouds {
  animation: myOrbit1 20s ease-in-out infinite;
  animation-delay: 1s;
}
*/
/* animations */
/*
@keyframes move-forma1 {
  0% {
    left: -20%;
    top: 0%;
  }
  50% {
    left: -10%;
    top: 20%;
  }
  100% {
    left: 0%;
    top: 0%;
  }
}
@keyframes myOrbit1 {
  from {
    transform: rotate(0deg) translateX(150px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(150px) rotate(-360deg);
  }
}

@keyframes rowup-1 {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(50%, 0, 0);
  }
}

@keyframes rowup-2 {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(50%, 0, 0);
  }
}
*/
@keyframes float {
  0% {
    transform: translatey(0px) rotate(-15deg);
  }
  25% {
    transform: translatey(-8%) rotate(-15deg);
  }
  50% {
    transform: translatey(8%) rotate(-15deg);
  }
  75% {
    transform: translatey(-8%) rotate(-15deg);
  }
  100% {
    transform: translatey(0px) rotate(-15deg);
  }
}
