.skills_wrapper {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 20vh;
  padding: 2% 0%;
}
.learning_title {
  padding-left: 10%;
  padding-right: 10%;
}
.learning_title > h1 {
  font-family: "Dynalight", cursive;
  font-size: 35pt;
  letter-spacing: 2pt;
  color: #ff7368;
}

.learning-title > h5 {
  font-size: 14pt;
  font-weight: 300;
  color: white;
}

.skills {
  margin-top: 5vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
  row-gap: 20px;
}
