#social-wrapper {
  height: 50vh;
  width: 100%;
  display: flex;
  background-color: rgba(27, 27, 27, 255);
}
#social-container {
  margin: auto;
  background-color: rgba(27, 27, 27, 255);
  text-align: center;
  padding-left: 5.5%;
  padding-right: 5.5%;
  justify-content: center;
}
#social-container .row .col > h1 {
  font-family: "Dynalight", cursive;
  font-size: 25pt;
  letter-spacing: 2pt;
  color: #b68e52;
}
#social-icon {
  color: #b68e52;
  font-size: 50px;
}
#social-icon:hover {
  color: #ffc774;
}
#social-container1 {
  padding-bottom: 2%;
}
#social-container2 {
  padding-top: 2%;
}
