body {
  background-color: #262626;
  margin: 0px 0px 0px 0px;
}
.images {
  position: fixed !important;
}
#something {
  width: 20%;
  top: 15%;
  left: 28%;
}
#forma1 {
  width: 30%;
  top: 0%;
  left: -10%;
  animation: myOrbit1 10s linear infinite;
}
@keyframes move-forma1 {
  0% {
    left: -20%;
    top: 0%;
  }
  50% {
    left: -10%;
    top: 20%;
  }
  100% {
    left: 0%;
    top: 0%;
  }
}
@keyframes myOrbit1 {
  from {
    transform: rotate(0deg) translateX(2vh) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(2vh) rotate(-360deg);
  }
}

#forma2 {
  width: 25%;
  right: 5%;
  transform: rotate(-45deg);
}
#forma3 {
  width: 30%;
  left: 10%;
  bottom: -20%;
  transform: rotate(-15deg);
}
#forma4 {
  width: 20%;
  right: -4%;
  bottom: -28%;
  animation: myOrbit 20s linear infinite;
  transform: rotate(-15deg) !important;
}
@keyframes myOrbit {
  from {
    transform: rotate(0deg) translateX(25vh) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(25vh) rotate(-360deg);
  }
}

#forma5 {
  width: 5%;
  top: 28%;
  left: 25%;
  transform: rotate(-15deg);
  animation: myOrbit 2s infinite;
}
@keyframes myOrbit {
  from {
    transform: rotate(0deg) translateX(25vh) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(25vh) rotate(-360deg);
  }
}
#forma6 {
  width: 50vh;
  height: 50vh;
}
#img-container {
  width: 100vw;
  height: 100vh;
  display: flex;
}
#lost-container {
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: flex;
}
#lost {
  top: 15% !important;
  width: 80vh;
  height: 80vh;
  right: 20%;
  z-index: 2;
}
